*.
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.sass-cache

node_modules/
css/build/**
js/build/**
/style.css

index.php

header.php

inc/card-image.php

functions - Copy.php

fonts/glyphicons-halflings-regular.eot

inc/card-title.php
