/*input#in-category-73, 
li#category-44, 
li#category-46, 
li#category-47,
li#category-48, 
input#in-category-49, 
li#category-54, 
li#category-55, 
li#category-58, 
li#category-59, 
li#category-61,
li#category-50, 
#postimagediv, 
#postexcerpt{
	    display:none;
    }
    */
    
#acf-subtitle, 
#acf_14520, 
#acf-is_event, 
.acf_postbox p.label, 
#acf-urgent{
	margin-bottom:0px;
	padding-bottom:0px;
	
	
	}



/*tr#tag-53, 
tr#tag-57, 
tr#tag-45, 
tr#tag-47, 
tr#tag-48, 
tr#tag-49, 
tr#tag-54, 
tr#tag-55{
	
	 display:none;
}*/